#header{
  padding-top: 50px;
}

.topo{
  background-color: #F8F8F8;
  border-bottom: 1px solid #F0F0F0;
  height: 50px;
  position: fixed;
  z-index: 999;
  width: 100%;
}

.navlist a{
  position: relative;
  display: inline-block !important;
  font-family: "Montserrat", sans-serif;
  font-size: 13px !important;
  text-transform: lowercase;
  color: #939393 !important;
  padding-top: 15px !important;
  margin-left: 12px !important;
}

.navlist a:after{
  content: "|" !important;
  padding-left: 10px;
  color: #939393;
  clear: both;
  visibility: visible !important;
  display: initial !important;
}

.navlist a:last-child:after{
  content: "" !important;
}

.social a{
  position: relative;
  display: inline-block !important;
  font-family: "Montserrat", sans-serif;
  font-size: 13px !important;
  text-transform: lowercase;
  color: #939393 !important;
  padding-top: 15px;
  margin-left: 14px;
}

.social a:after{
  content: " " !important;
  padding-left: 10px;
  color: #939393;
  clear: both;
  visibility: visible !important;
  display: initial !important;
}

.social a:last-child:after{
  content: "" !important;
}

.pesquisa{
  margin-top: 15px !important;
}

.logo{
  padding: 30px 0;
}

.logo img{
  width: 350px;
}

.logo h1{
  text-align: center;
}

.coracao{
  color: #ff3859;
}

.rodape{
  background-color: #F8F8F8;
  border-top: 1px solid #F0F0F0;
  padding-top: 15px !important;
  padding-bottom: 15px !important;
  font-family: "Montserrat", sans-serif;
  font-size: 13px !important;
  color: #939393 !important;
  text-align: center;
}
